<% layout('./layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3 pt-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3 form-floating">
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          placeholder="Title"
          value="<%= campground.title %>"
          required
        />
        <label class="form-label" for="title">Title</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!-- Location -->
      <div class="mb-3 form-floating">
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="Location"
          value="<%= campground.location %>"
          required
        />
        <label class="form-label" for="location">Location</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    <!-- Add Images -->
      <div class="mb-3 input-group">
        <label class="input-group-text col-4" for="images">Add images:</label>
        <input
          class="form-control visually-hidden"
          type="file"
          id="images"
          name="campground[images]"
          onchange="showInputFiles(this)"
          multiple
        />
        <button 
          class="btn btn-primary col-8" 
          type="button"
          onclick="document.getElementById('images').click()">Choose Files 
        </button>
        <div class="valid-feedback">Looks good!</div>
      </div>
    <!-- Delete Images -->
      <div class="mb-3 input-group">
        <div class="form-label w-100">Delete images:</div>
          <% campground.images.forEach((img, i)=>{ %>
          <div class="col-6">
            <div class="form-check-inline">
              <img src="<%= img.url %>" class="img-thumbnail" />
              <input type="checkbox" name="deleteImages[]" id="img-<%= i %>" value="<%= img.filename %>">
            </div>
          </div>
          <% }) %>
      </div>
    <!-- Price -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text" id="price-label">Price:</span>
          <input
            class="form-control"
            type="number"
            id="price"
            name="campground[price]"
            value="<%= campground.price %>"
            aria-describedby="price-label"
            required
          />
          <span class="input-group-text" id="price-label">$</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <!-- Description -->
      <div class="mb-3 form-floating">
        <textarea
          class="form-control h-100"
          type="text"
          id="description"
          name="campground[description]"
          placeholder="Description"
          maxlength="120"
          required
        ><%= campground.description %></textarea>
        <label class="form-label form-floating" for="description"
          >Description</label
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Update Campground</button>
      </div>
      <a href="/campgrounds/<%= campground._id %>">Back to campground</a>
    </form>
  </div>
</div>
