<% layout('./layouts/boilerplate') %>
<a href="/campgrounds">Back to all campgrounds</a>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %>" />
<p><%= campground.description %></p>
<div class="py-2">
  <form
    action="/campgrounds/<%= campground._id %>?_method=DELETE"
    method="POST"
  >
    <button>Delete campground</button>
  </form>
</div>
<p>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit campground</a>
</p>
